body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

.search-box {
    margin-bottom: 20px;
}

.search-input {
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 10px 20px;
}

.search-button {
    background-color: black;
    color: white;
    font-size: 1.3rem;
    border: solid;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.result-box {
    background-color: rgba(197, 194, 238, 0.7);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    padding: 30px 50px;
    display: none;
}

.error-message {
    display: none;
    font-size: 1.3rem;
    color: red;
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 40px;
}

.avatar-url {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    border: none;
}

.name {
    font-weight: bold;
    font-size: 2rem;
}

.company {
    font-size: 1.5rem;
}

.twitter-username {
    font-size: 1.5rem;
}